<div class="design-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <h1>Predaj</h1>
      </div>
      <div class="col">
        <div class="col">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="">Domov</a>
            </li>
            <li class="nav-item">
              <a class="nav-link backslash">/</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active">Predaj</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<a
  class="btn btn-primary btn-lg active"
  routerLink="/gallery/walls"
  role="button"
  aria-pressed="true"
  >Fasády</a
>
