@import "variables";
@import "mixins";

.top-contact-header {
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  background: $primary-dark;
  padding: 10px 0;

  @include bp(xs-sm) {
    display: none;
  }

  .navbar-expand {
    display: flex;
    justify-content: space-between;

    .navbar-nav {
      .nav-item {
        &:first-child {
          margin-right: 25px;
        }

        .icon,
        .text {
          display: inline-block;
        }

        .icon {
          fa-icon {
            color: $primary-yellow;
            margin-right: 8px;
          }
        }
      }

      &:last-child {
        .nav-item {
          &:first-child {
            margin-right: 15px;
          }

          .icon {
            fa-icon {
              color: $font-white;
              margin-right: 0;

              &:hover {
                color: $primary-yellow;
              }
            }
          }
        }
      }
    }
  }
}
