<div class="top-contact-header">
  <div class="container">
    <div class="navbar-expand">
      <ul class="navbar-nav">
        <li class="nav-item">
          <div class="icon" style="text-align:center">
            <fa-icon [icon]="faPhoneAlt"></fa-icon>
          </div>
          <div class="text">
            <p>Tel.č.: <strong>041/700 21 93</strong></p>
          </div>
        </li>
        <li class="nav-item">
          <div class="icon" style="text-align:center">
            <fa-icon [icon]="faEnvelope"></fa-icon>
          </div>
          <div class="text">
            <p>Email: <strong>info@studiobyvania.sk</strong></p>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="">
            <div class="icon" style="text-align:center">
              <fa-icon [icon]="faFacebookF"></fa-icon>
            </div>
          </a>
        </li>

        <li class="nav-item">
          <a href="">
            <div class="icon" style="text-align:center">
              <fa-icon [icon]="faInstagram"></fa-icon>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
