<div class="container">
  <!-- <div slickContainer id="slick" [slickConfig]="config">
    <div slickItem class="slickItem" *ngFor="let supplier of suppliers">
      <app-supplier [supplier]="supplier"></app-supplier>
    </div>
  </div> -->

  <div *ngIf="isBrowser()">
    <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
      <div ngxSlickItem class="slickItem" *ngFor="let supplier of suppliers">
        <app-supplier [supplier]="supplier"></app-supplier>
      </div>
    </ngx-slick>
  </div>
</div>
