@import "mixins";

.product {
  margin-bottom: 50px;
  margin-top: 20px;

  .title {
    opacity: 0.1;
    display: inline;

    &.active {
      opacity: 1;
      transition: opacity 0.3s ease-in;
    }
  }
}

@include bp(xxs) {  
  .product {
    .text-block {
      margin-bottom: 20px;
    }
  }

}

