<div class="row align-items-center product">
  <ng-container *ngIf="direction == 'left'">
    <div class="col-sm-12 col-md-5 col-xl-5">
      <div class="text-block">
        <h4>{{title}}</h4>
        <p *ngFor="let item of titles" [ngClass]="{ title: true, active: item.active }">
          {{item.title}}&nbsp;
        </p>
      </div>
    </div>
    <div class="col-sm-12 col-md-7 col-xl-7">
      <video #video class="video1" width="100%">
        <source [src]="src" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </ng-container>  
  
  <ng-container *ngIf="direction == 'right'">
    <div class="col-sm-12 col-md-5 col-xl-5 d-md-none">
      <div class="text-block">
        <h4>{{title}}</h4>
        <p *ngFor="let item of titles" [ngClass]="{ title: true, active: item.active }">
          {{item.title}}&nbsp;
        </p>
      </div>
    </div>
    <div class="col-sm-12 col-md-7 col-xl-7">
      <video #video class="video1" width="100%">
        <source [src]="src" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="col-sm-12 col-md-5 col-xl-5 d-none d-md-block">
      <div class="text-block">
        <h4>{{title}}</h4>
        <p *ngFor="let item of titles" [ngClass]="{ title: true, active: item.active }">
          {{item.title}}&nbsp;
        </p>
      </div>
    </div>
  </ng-container>
</div>