<div class="reference-card">
  <div class="background-wrapper">
    <!-- <div class="small-border"></div> -->

    <p class="quote">&quot;{{ reference.quote }}&quot;</p>

    <p class="name">
      {{ reference.name }}
    </p>
    <!-- <div class="small-border"></div> -->
  </div>
</div>
