@import "variables";

.reference-card {
  padding: 0 5px;

  .background-wrapper {
    // border: 1px solid $primary-yellow;
    padding: 10px 20px;
    background: white;

    .name {
      text-align: right;
      margin-bottom: 0;
    }

    .quote {
      text-align: justify;
    }
  }
}
