@import "mixins";

.image-wrapper {
  margin-bottom: 1rem;
  height: 270px;

  img {
    object-fit: cover;
    height: 100%;
  }
}

.table1,
.table2,
.table3 {
  tr {
    td {
      border-top: none;
      padding: 1.5rem;
      vertical-align: middle;
      text-align: left;

      p {
        text-align: inherit;
      }

      &.mobile-devices {
        display: none;
      }

      &.desktop {
        display: block;
      }
    }
  }
}

.table2 {
  tr {
    td:nth-child(2) {
      text-align: right;
    }
  }
}

.row {
  .text-block {
    .premise-type {
      letter-spacing: 2px;
      margin-bottom: 0;
      text-transform: uppercase;
      font-size: 14px;
    }

    h4 {
      font-weight: bold;
    }
  }
}

@include bp(xs-sm) {
  img {
    min-width: unset;
    width: 100%;
  }

  .table1,
  .table2,
  .table3 {
    tr {
      td {
        display: block;
      }
    }
  }

  .table1,
  .table3 {
    tr {
      td {
        text-align: left;
      }
    }
  }

  .table2 {
    tr {
      td {
        text-align: right;

        &.desktop {
          display: none;
        }

        &.mobile-devices {
          display: block;
        }
      }
    }
  }
}

@include bp(xs) {
  .image-wrapper {
    height: 150px;
  }
}

@include bp(xxs) {
  .text-block:last-child {
    margin-bottom: 2rem;
  }
}
