<!-- <table class="table1">
  <tbody>
    <tr>
      <td class="image-td">
        <img src="https://picsum.photos/350/197" alt="" />
      </td>
      <td>
        <div class="text-block">
          <h4>Project 1 rezidenčné</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
          <ks-modal-gallery
            [id]="5"
            [modalImages]="images1"
            [plainGalleryConfig]="plainGalleryRowATagsStart"
          ></ks-modal-gallery>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<table class="table2">
  <tbody>
    <tr>
      <td class="image-td mobile-devices">
        <img src="https://picsum.photos/350/197" alt="" />
      </td>
      <td>
        <div class="text-block">
          <h4>Project 2 rezidenčné</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
          <ks-modal-gallery
            [id]="6"
            [modalImages]="images2"
            [plainGalleryConfig]="plainGalleryRowATagsEnd"
          ></ks-modal-gallery>
        </div>
      </td>
      <td class="image-td desktop">
        <img src="https://picsum.photos/350/197" alt="" />
      </td>
    </tr>
  </tbody>
</table>
<table class="table3">
  <tbody>
    <tr>
      <td class="image-td">
        <img src="https://picsum.photos/350/197" alt="" />
      </td>
      <td>
        <div class="text-block">
          <h4>Project 3 rezidenčné</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
          <ks-modal-gallery
            [id]="7"
            [modalImages]="images3"
            [plainGalleryConfig]="plainGalleryRowATagsStart"
          ></ks-modal-gallery>
        </div>
      </td>
    </tr>
  </tbody>
</table> -->

<div class="row">
  <div class="col-md-4 col-lg-4">
    <div class="image-wrapper">
      <img src="https://picsum.photos/350/197" alt="" />
    </div>
    <div class="text-block">
      <p class="premise-type">Hotel</p>
      <h4>Village resort Hanuliak</h4>
      <p class="works">
        Dekoratívna úprava stien v interiéri
      </p>
      <!-- <button
          class="button-global common type2"
          (click)="openModalViaService(1, 0)"
        >
          Fotky z projektu
        </button> -->
      <!-- <ks-modal-gallery
          [id]="2"
          [modalImages]="komercne"
          [plainGalleryConfig]="plainGalleryRowATagsStart"
        ></ks-modal-gallery> -->
    </div>
  </div>
  <div class="col-md-4 col-lg-4">
    <div class="image-wrapper">
      <img src="https://picsum.photos/350/197" alt="" />
    </div>
    <div class="text-block">
      <p class="premise-type">Hotel</p>
      <h4>Village resort Rozsutec</h4>
      <p class="works">
        Dekoratívna úprava stien v interiéri
      </p>
      <!-- <button
            class="button-global common type2"
            (click)="openModalViaService(1, 0)"
          >
            Fotky z projektu
          </button> -->
      <!-- <ks-modal-gallery
            [id]="2"
            [modalImages]="komercne"
            [plainGalleryConfig]="plainGalleryRowATagsStart"
          ></ks-modal-gallery> -->
    </div>
  </div>
  <div class="col-md-4 col-lg-4">
    <div class="image-wrapper">
      <img src="https://picsum.photos/350/197" alt="" />
    </div>
    <div class="text-block">
      <p class="premise-type">Hotel</p>
      <h4>Château Gbeľany</h4>
      <p class="works">
        Dekoratívna úprava stien v interiéri
      </p>
      <!-- <button
            class="button-global common type2"
            (click)="openModalViaService(1, 0)"
          >
            Fotky z projektu
          </button> -->
      <!-- <ks-modal-gallery
            [id]="2"
            [modalImages]="komercne"
            [plainGalleryConfig]="plainGalleryRowATagsStart"
          ></ks-modal-gallery> -->
    </div>
  </div>
</div>
