// FONTS
@font-face {
  font-family: Cardillac;
  src: url(/assets/fonts/Cardillac.otf);
  font-weight: 400;
}
@font-face {
  font-family: Cardillac;
  src: url(/assets/fonts/Cardillac-Light.otf);
  font-weight: 300;
}
@font-face {
  font-family: Cardillac;
  src: url(/assets/fonts/Cardillac-Bold.otf);
  font-weight: 600;
}
@font-face {
  font-family: Gilroy;
  src: url(/assets/fonts/Gilroy.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Gilroy;
  src: url(/assets/fonts/Gilroy-SemiBold.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Gilroy;
  src: url(/assets/fonts/Gilroy-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Gilroy;
  src: url(/assets/fonts/Gilroy-Bold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: Biloxi;
  src: url(/assets/fonts/Biloxi.ttf);
  font-weight: 400;
}