<div class="container">
  <!-- <app-exterior #exterior></app-exterior>
  <app-interior #interior></app-interior> -->

  <app-product #exterior direction="right" title="Exteriér" [titles]="exteriorTitles" [intervals]="exteriorIntervals" src="../../assets/video/EXTERIER-1.mp4"></app-product>
  <app-product #interior direction="left" title="Interiér" [titles]="interiorTitles" [intervals]="interiorIntervals" src="../../assets/video/INTERIER-1.mp4"></app-product>
  <div class="row">
    <div class="col">
      <div class="text-block text-center">
        <h3>Sme autorizovaný Caparol partner</h3>
        <img class="caparol-logo" src="../../../assets/images/products/caparol.png" alt="">
        <p class="desc">Miešacie stredisko pre farby a povrchové úpravy.</p>
      </div>
    </div>
  </div>
</div>