@import "variables";
@import "mixins";

.title {
  opacity: 0.1;
  display: inline;

  &.active {
    opacity: 1;
    transition: opacity 0.3s ease-in;
  }
}

.text-block {
  position: relative;
  margin-top: $section-space;

  .desc {
    margin-top: 35px;
  }

  .caparol-logo {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: -160px;
    z-index: -1;
  }
}

@include bp(xxs) {  
  .text-block {
    overflow: hidden;

    .caparol-logo {
      top: 0px;
      margin-left: 0;
      right: -130px;
      left: unset;
      transform: unset;
    }
  }
}

