<div class="design-header">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col">
        <h1>Poradenstvo</h1>
      </div>
      <div class="col">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="">Domov</a>
          </li>
          <li class="nav-item">
            <a class="nav-link backslash">/</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active">Poradenstvo</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
