@import "mixins";
@import "variables";

.quotes-wrapper {
  position: relative;

  .quote {
    font-family: $heading-font;
    font-size: 200px;
    line-height: 1;
    color: $font-gold;
    position: absolute;
    top: -40px;
    left: 15px;
  }
}

.reference {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  color: $font-gold;
  padding: $section-space 0;

  .sign {
    color: $font-gold;
  }
}