<div class="container quotes-wrapper">
  <div class="quote">“</div>
</div>
<!-- <div slickContainer #slickController="slick" id="slick" [slickConfig]="config">
  <div slickItem>
    <div class="container">
      <div class="reference">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
        <div class="about">
          <p class="sign">Martina Novotná</p>
          <p>Village Resort Hanuliak</p>
        </div>
      </div>     
    </div>
  </div>
  <div slickItem>
    <div class="container">
      <div class="reference">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
        <div class="about">
          <p class="sign">Martina Novotná</p>
          <p>Village Resort Hanuliak</p>
        </div>
      </div>
    </div>
  </div>
  <div slickItem>
    <div class="container">
      <div class="reference">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
        <div class="about">
          <p class="sign">Martina Novotná</p>
          <p>Village Resort Hanuliak</p>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div *ngIf="isBrowser()">
  <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
    <div ngxSlickItem class="slide">
      <div class="container">
        <div class="reference">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text ever
            since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book.
          </p>
          <div class="about">
            <p class="sign">Martina Novotná</p>
            <p>Village Resort Hanuliak</p>
          </div>
        </div>
      </div>
    </div>
    <div ngxSlickItem class="slide">
      <div class="container">
        <div class="reference">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text ever
            since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book.
          </p>
          <div class="about">
            <p class="sign">Martina Novotná</p>
            <p>Village Resort Hanuliak</p>
          </div>
        </div>
      </div>
    </div>
    <div ngxSlickItem class="slide">
      <div class="container">
        <div class="reference">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text ever
            since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book.
          </p>
          <div class="about">
            <p class="sign">Martina Novotná</p>
            <p>Village Resort Hanuliak</p>
          </div>
        </div>
      </div>
    </div>
  </ngx-slick>
</div>

