<div class="design-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <h1>Dizajnový blog</h1>
      </div>
      <div class="col">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']">Domov</a>
          </li>
          <li class="nav-item">
            <a class="nav-link backslash">/</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link backslash">/</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active">{{ link }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div [innerHtml]="post"></div>
</div>
