<div class="error-page-wrapper">
  <div class="container">
    <div class="image-wrapper">
      <img src="https://i.imgur.com/A040Lxr.png" alt="" />
    </div>
    <div class="text-block">
      <h4>{{ errorMessage }}</h4>
      <p>
        You thought this mission to the moon would be a quick six month thing.
        Your neighbor offered to look after your dog. Your high school math
        teacher was impressed. He once said you wouldn’t amount to anything.You
        sure showed him. But now here you are, fifty feet from your spaceship
        with no way to get back. Your dog will be so sad. Your math teacher will
        be so smug. Pretty devastating.
      </p>
    </div>
    <div class="button-wrapper">
      <a class="back button-global filled" routerLink="..">
        <fa-icon [icon]="faChevronLeft" size="sm"></fa-icon>
        Späť na domovskú stránku
      </a>
    </div>
  </div>
</div>
