@import "variables";

.error-page-wrapper {
  height: 87vh;
  background: lighten($primary-yellow, 10%);

  .image-wrapper {
    text-align: center;
    display: block;

    img {
      height: 50vh;
    }
  }

  .button-wrapper {
    text-align: center;

    .button-global.filled {
      background: transparent;
      display: inline-block;

      &:hover,
      &:active {
        background: $font-dark;
      }
    }
  }
}
