<div class="top-menu">
  <!-- <nav id="sidebar">
    <div id="dismiss">
      <i class="fas fa-arrow-left"></i>
    </div>

    <div class="sidebar-header">
      <h3>Bootstrap Sidebar</h3>
    </div>

    <ul class="list-unstyled components">
      <p>Dummy Heading</p>
      <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false"
          >Home</a
        >
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <a href="#">Home 1</a>
          </li>
          <li>
            <a href="#">Home 2</a>
          </li>
          <li>
            <a href="#">Home 3</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">About</a>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false"
          >Pages</a
        >
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a href="#">Page 1</a>
          </li>
          <li>
            <a href="#">Page 2</a>
          </li>
          <li>
            <a href="#">Page 3</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Portfolio</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </nav> -->
  <div class="container">
    <!-- <nav class="navbar navbar-expand-lg navbar-light">
      <a class="nav-link" routerLink="">
        <img
          src="https://www.studiobyvania-ag.sk/wp-content/uploads/2017/05/logo.png"
          alt="Studiobyvania-ag.sk"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-label="Toggle navigation"
        (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseExample"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse"
        id="collapseExample"
        [ngbCollapse]="isCollapsed"
      >
        <ul class="navbar-nav">
          <li class="nav-item">
            <fa-icon [icon]="faCircle" size="sm"></fa-icon>
            <a
              class="nav-link"
              routerLink="gallery"
              routerLinkActive="active"
              (click)="isCollapsed = true"
              >Galéria</a
            >
          </li>
          <li class="nav-item">
            <fa-icon [icon]="faCircle" size="sm"></fa-icon>
            <a
              class="nav-link"
              (click)="scrollTo('section1')"
              [ngClass]="{ active: currentSection === 'section1' }"
              >Section 1</a
            >
          </li>
          <li class="nav-item">
            <fa-icon [icon]="faCircle" size="sm"></fa-icon>
            <a
              class="nav-link"
              (click)="scrollTo('section2')"
              [ngClass]="{ active: currentSection === 'section2' }"
              >Section 2</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="not-found"
              routerLinkActive="active"
              (click)="isCollapsed = true"
              >Čo robíme</a
            >
          </li>
        </ul>
      </div>
    </nav> -->

    <div class="wrapper d-flex align-items-center justify-content-between">
      <div class="brand-wrapper">
        <div class="logo-wrapper">
          <a routerLink="">
            <img src="../../assets/images/logo.svg" alt="" />
          </a>
        </div>
        <div class="subheading">
          <p>Farby a ušľachtilé povrchy</p>
          <p>pre interiér & exteriér</p>
        </div>
      </div>

      <div class="buttons-wrapper">
        <button class="button-global filled" [routerLink]="['/', 'blog']">
          E-SHOP
          <!-- <fa-icon [icon]="faChevronRight" size="sm"></fa-icon> -->
        </button>
        <button
          type="button"
          id="sidebarCollapse"
          class="button-global filled"
          [ngClass]="!status ? 'active' : ''"
          (click)="toggleMenu()"
        >
          <span></span>
          <span></span>
          <span></span>
          <!-- <fa-icon [icon]="faChevronRight" size="sm"></fa-icon> -->
        </button>
      </div>

      <!-- Dark Overlay element -->
    </div>
    <div class="overlay"></div>
  </div>
</div>
