@import "variables";
@import "mixins";

* {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
.wrapper {
  display: block;
  position: relative;
}

.top-menu {
  background: white;
  // padding: 20px 0;

  .brand-wrapper {
    padding: 20px 20px 20px 150px;

    .logo-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 150px;
      background: #2b2a28;

      img {
        padding: 70px 20px 20px 20px;
      }
    }

    .subheading {
      display: inline-block;
      padding-left: 40px;
      text-decoration: none;

      p {
        margin-bottom: 0;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1px;

        &:first-child {
          color: $font-gold-light;
        }
      }
    }
  }

  .buttons-wrapper {
    button {
      vertical-align: middle;

      &:first-child {
        margin-right: 10px;
      }
    }
  }

  #sidebarCollapse {
    padding: 1px 6px;
    width: 40px;
    height: 40px;
    background: transparent;
    box-shadow: none;

    .placeholder {
      color: transparent;
    }

    span {
      width: 80%;
      height: 2px;
      margin: 0 auto;
      display: block;
      background: #485e6f;
      transition: all 0.5s cubic-bezier(0.81, -0.33, 0.345, 1.375);

      &:first-of-type {
        /* rotate first one */
        transform: rotate(45deg) translate(2px, 2px);
      }

      &:nth-of-type(2) {
        /* second one is not visible */
        opacity: 0;
      }

      &:last-of-type {
        /* rotate third one */
        transform: rotate(-45deg) translate(1px, -1px);
      }
    }

    &.active {
      span {
        /* no rotation */
        transform: none;
        /* all bars are visible */
        opacity: 1;
        margin: 5px auto;
      }
    }
  }
}

@include bp(xs) {
  .top-menu {
    .brand-wrapper {
      padding: 0;
      
      .logo-wrapper {
        position: unset;
        width: 120px;

        img {
          padding: 10px;
        }
      }
      
      .subheading {
        display: none;
      }
    }
  }
}

@include bp(xxs) {
  .top-menu {
    .brand-wrapper {
      padding: 0;
      
      .logo-wrapper {
        position: unset;
        width: 120px;

        img {
          padding: 10px;
        }
      }
    }

    .buttons-wrapper {
      button {
        &:first-child {
          padding: 3px 7px;
        }
      }

      #sidebarCollapse {
        width: 30px;
        height: 30px;

        &.active {
          span {
            margin: 3px auto;
          }
        }
      }
    }
  }
}