@import "variables";

.container {
  margin-top: 50px;

  .filter-buttons {
    button {
      display: block;
      width: 100%;
      margin-bottom: 5px;
    }
  }

  .photo {
    cursor: pointer;
    display: inline-block;
    width: 33.33%;
    height: 200px;
    padding: 3px 3px;

    .image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }
  }

  .button-global.clear {
    display: block;
    margin: auto;
  }

  ul {
    li {
      list-style: none;

      ul {
        padding-left: 20px;

        li {
          a {
            text-transform: capitalize;
          }
        }
      }
    }
  }
}
