<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-2">
      <ul>
        <li>
          <a
            [ngClass]="{ active: tag == null, '': true }"
            (click)="setTag(null)"
            routerLink="/gallery"
            >Galéria</a
          >
        </li>
        <li>
          <a
            [ngClass]="{ active: tag == 'inspiration', '': true }"
            (click)="setTag('inspiration')"
            routerLink="/gallery/inspiration"
            >Inšpirácie</a
          >
          <ul>
            <li>
              <a
                [ngClass]="{ active: tag == 'wallpapers', '': true }"
                (click)="setTag('wallpapers')"
                routerLink="/gallery/wallpapers"
                >Tapety</a
              >
            </li>
            <li>
              <a
                [ngClass]="{ active: tag == 'colors', '': true }"
                (click)="setTag('colors')"
                routerLink="/gallery/colors"
                >Farby</a
              >
            </li>
            <li>
              <a
                [ngClass]="{ active: tag == 'walls', '': true }"
                (click)="setTag('walls')"
                routerLink="/gallery/walls"
                >Fasády</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="col-md-12 col-lg-10">
      <div class="row">
        <div
          *ngFor="let image of imagesToShow; let i = index"
          class="photo col-12 col-sm-6 col-md-4"
          (click)="openModalViaService(1, i)"
        >
          <div
            class="image"
            [ngStyle]="{
              'background-image': 'url(' + image.modal['img'] + ')'
            }"
          ></div>
        </div>
      </div>

      <!-- <button
              class="button-global common type2"
              (click)="openModalViaService(1, 0)"
            >
              Fotky z projektu
            </button> -->
      <ks-modal-gallery
        [id]="1"
        [modalImages]="imagesToShow"
        [plainGalleryConfig]="plainGalleryRowATags"
      ></ks-modal-gallery>
      <button
        [disabled]="this.offset == this.myImages.length"
        class="button-global clear"
        (click)="loadMore()"
      >
        Načítaj viac
      </button>
    </div>
  </div>
</div>
