@import "mixins";

.header-wrapper {
  // position: fixed;
  position: relative;
  // width: 100%;
  // top: 0;
  // left: 0;
  z-index: 999;
}

.page-content-wrapper {
  .side-menu {
    height: 100vh;
    top: 0;    
    right: 0;
    padding-top: 88px;
    background: white;
    z-index: 998;
    position: fixed;
    width: 350px;
    transform: translateX(110%);
    transition: transform 0.3s;

    .navigation {
      padding: 30px;

      div {
        text-decoration: none;
        cursor: pointer;
        font-family: "Biloxi", Arial, Helvetica, sans-serif;
        text-align: center;
      }
    }

    &.open {
      margin-left: 0;
      transform: translateX(0);
    }
  }
}

@include bp(xxs) {
  .page-content-wrapper {
    .side-menu {
      width: 100%;      
    }
  }
}

