<div class="header-wrapper">
  <app-top-menu></app-top-menu>
</div>
<div class="page-content-wrapper">
  <div class="side-menu shadow" [ngClass]="menuOpen ? 'open' : ''" (clickOutside)="onClickedOutsideOfSideMenu()" exclude="#sidebarCollapse">
    <div class="navigation">
      <div (click)="scrollTo('section1')">
        <h4>Home</h4>
        <ng-container *ngIf="currentSection==='section1'"></ng-container>
      </div>
      <div (click)="scrollTo('section2')">
        <h4>Práce</h4>
        <ng-container *ngIf="currentSection==='section2'"></ng-container>
      </div>
      <div (click)="scrollTo('section3')">
        <h4>Dodávatelia</h4>
        <ng-container *ngIf="currentSection==='section3'"></ng-container>
      </div>
      <div (click)="scrollTo('section4')">
        <h4>Priestory</h4>
        <ng-container *ngIf="currentSection==='section4'"></ng-container>
      </div>
      <div (click)="scrollTo('section5')">
        <h4>Blog</h4>
        <ng-container *ngIf="currentSection==='section5'"></ng-container>
      </div>
      <div (click)="scrollTo('section6')">
        <h4>Kontakt</h4>
        <ng-container *ngIf="currentSection==='section6'"></ng-container>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
