<!-- <table class="table1">
  <tbody>
    <tr>
      <td class="image-td">
        <img src="../../../../assets/images/projects/hanuliak.jpg" alt="" />
      </td>
      <td>
        <div class="text-block">
          <h4>VILLAGE RESORT HANULIAK</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
        
          <ks-modal-gallery
            [id]="2"
            [modalImages]="komercne"
            [plainGalleryConfig]="plainGalleryRowATagsStart"
          ></ks-modal-gallery>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<table class="table2">
  <tbody>
    <tr>
      <td class="image-td mobile-devices">
        <img
          src="../../../../assets/images/projects/rozsutec-fasada.jpg"
          alt=""
        />
      </td>
      <td>
        <div class="text-block">
          <h4>WELLNESS HOTEL ROZSUTEC</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
          <ks-modal-gallery
            [id]="3"
            [modalImages]="komercne"
            [plainGalleryConfig]="plainGalleryRowATagsEnd"
          ></ks-modal-gallery>
        </div>
      </td>
      <td class="image-td desktop">
        <img
          src="../../../../assets/images/projects/rozsutec-fasada.jpg"
          alt=""
        />
      </td>
    </tr>
  </tbody>
</table>
<table class="table3">
  <tbody>
    <tr>
      <td class="image-td">
        <img
          src="../../../../assets/images/projects/chateau-gbelany.jpg"
          alt=""
        />
      </td>
      <td>
        <div class="text-block">
          <h4>CHATEAU GBEĽANY</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
          <ks-modal-gallery
            [id]="4"
            [modalImages]="komercne"
            [plainGalleryConfig]="plainGalleryRowATagsStart"
          ></ks-modal-gallery>
        </div>
      </td>
    </tr>
  </tbody>
</table> -->

<div class="row">
  <div class="col-md-4 col-lg-4">
    <div class="image-wrapper">
      <img src="../../../../assets/images/projects/hanuliak.jpg" alt="" />
    </div>
    <div class="text-block">
      <p class="premise-type">Hotel</p>
      <h4>Village resort Hanuliak</h4>
      <p class="works">
        Dekoratívna úprava stien v interiéri
      </p>
      <!-- <button
        class="button-global common type2"
        (click)="openModalViaService(1, 0)"
      >
        Fotky z projektu
      </button> -->
      <!-- <ks-modal-gallery
        [id]="2"
        [modalImages]="komercne"
        [plainGalleryConfig]="plainGalleryRowATagsStart"
      ></ks-modal-gallery> -->
    </div>
  </div>
  <div class="col-md-4 col-lg-4">
    <div class="image-wrapper">
      <img
        src="../../../../assets/images/projects/rozsutec-fasada.jpg"
        alt=""
      />
    </div>
    <div class="text-block">
      <p class="premise-type">Hotel</p>
      <h4>Village resort Rozsutec</h4>
      <p class="works">
        Dekoratívna úprava stien v interiéri
      </p>
      <!-- <button
          class="button-global common type2"
          (click)="openModalViaService(1, 0)"
        >
          Fotky z projektu
        </button> -->
      <!-- <ks-modal-gallery
          [id]="2"
          [modalImages]="komercne"
          [plainGalleryConfig]="plainGalleryRowATagsStart"
        ></ks-modal-gallery> -->
    </div>
  </div>
  <div class="col-md-4 col-lg-4">
    <div class="image-wrapper">
      <img
        src="../../../../assets/images/projects/chateau-gbelany.jpg"
        alt=""
      />
    </div>
    <div class="text-block">
      <p class="premise-type">Hotel</p>
      <h4>Château Gbeľany</h4>
      <p class="works">
        Dekoratívna úprava stien v interiéri
      </p>
      <!-- <button
          class="button-global common type2"
          (click)="openModalViaService(1, 0)"
        >
          Fotky z projektu
        </button> -->
      <!-- <ks-modal-gallery
          [id]="2"
          [modalImages]="komercne"
          [plainGalleryConfig]="plainGalleryRowATagsStart"
        ></ks-modal-gallery> -->
    </div>
  </div>
</div>
