<section id="section1" class="main-slider-wrapper">
  <app-main-slider></app-main-slider>
</section>
<section id="section2" class="products-wrapper">
  <app-products #products></app-products>
</section>
<!-- <div class="product-slider-wrapper">
  <app-product-slider></app-product-slider>
</div> -->
<section id="section3" class="supplier-slider-wrapper">
  <app-supplier-slider></app-supplier-slider>
</section>
<section class="owner-motto-wrapper">
  <!-- <div class="inside-wrapper"> -->
    <div class="container">
      <div class="about">
        <div class="image-wrapper" style="background-image: url('../../assets/images/team/majitelka.jpg');"></div>
        <p class="sign">Mgr. Alena Galová</p>
        <p class="position">Majiteľka a dizajnérka</p>
        <p class="desc">Všetko tvorivé a neštandardné ma baví.</p>
      </div>
    </div>    
  <!-- </div> -->
</section>
<section id="section4" class="projects-wrapper">
  <app-projects></app-projects>
</section>
<!-- <div class="references-wrapper">
  <app-references></app-references>
</div> -->
<!-- <div id="section1" class="about-us-wrapper">
  <app-about-us></app-about-us>
</div> -->
<!-- <div class="our-team-wrapper">
  <app-our-team></app-our-team>
</div> -->
<section class="quotes-slider-wrapper">
  <app-quotes-slider></app-quotes-slider>
</section>
<section id="section5" class="our-blog-wrapper">
  <app-our-blog></app-our-blog>
</section>
<section id="section6" class="contact-us-wrapper">
  <app-contact-us></app-contact-us>
</section>
<section id="section7" class="footer-wrapper">
  <div class="container">
    <div class="social-icons">
      <a href="" target="_blank">
        <fa-icon [icon]="faInstagram" size="2x"></fa-icon>
      </a>
      <a href="" target="_blank">
        <fa-icon [icon]="faFacebookF" size="2x"></fa-icon>
      </a>
    </div>
    <div class="subfooter">
      <p>
        <small>2019 © <strong>STUDIOBYVANIA-AG.SK</strong></small>
      </p>
      <p>
        <small>DESIGN BY MELON BERRIES</small>
      </p>
    </div>
  </div> 
</section>