@import "variables";
@import "mixins";

section {
  padding: $section-space 0;
}

.owner-motto-wrapper {
  background: $background-gray;
  padding: 0;
  margin: ($section-space + 70px) 0 0;  

  .container {
    text-align: center;

    .about {
      position: relative;
      padding: $section-space 0 $section-space 310px;
      display: inline-block;
      text-align: left;

      .image-wrapper {
        position: absolute;
        width: 260px;
        bottom: 40px;
        left: 0;
        top: -70px;
        background-size: cover;
        box-shadow: $box-shadow;
      }

      .position {
        font-size: 12px; 
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: 5px;
      }   
      
      .desc {
        font-size: 20px;
        font-weight: 500;
      }
    }
  }  
}

.quotes-slider-wrapper {
  background: $background-gold;
  padding: 0;
}

.main-slider-wrapper {
  padding: 80px 0;
  background-image: url('../../assets/images/pattern.jpg');
  background-repeat: repeat;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    right: 0;
    left: 50%;
    margin-left: 380px;
    top: 0;
    bottom: 0;
    z-index: 1;
    background: white;
  }
}

.contact-us-wrapper {
  background: $background-gray;
}

.footer-wrapper {
  .social-icons {
    fa-icon {
      color: $font-color;

      &:first-child {
        margin-right: 20px;
      }
    }
  }

  .subfooter {
    p {
      margin-bottom: 0;
      line-height: 1;

      strong {
        color: $font-gold-light;
      }
    }
  }
}

@include bp(xs) { 
  .main-slider-wrapper { 
    &:before {
      margin-left: 250px;
    }
  }

  section.products-wrapper {
    padding-top: 80px;
  }

  .owner-motto-wrapper {
    height: auto;
    text-align: center;

    .inside-wrapper {
      img {
        max-width: 250px;
        margin-top: -50px;
        margin-right: 0;      
      }

      .about {
        max-width: 400px;
      }
    }
  }
}

@include bp(xxs) { 
  section.products-wrapper {
    padding: $section-space 0;
  }

  .owner-motto-wrapper {  
    .inside-wrapper {
      img {
        margin-right: 0;        
      }
    }

    .container {
      text-align: center;

      .about {
        text-align: center;
        position: relative;
        padding: ($section-space*4) 0 $section-space 0;

        .image-wrapper {
          width: 100%;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          height: 200px;
          top: -70px;
        }
      }
    }
  }  
}

