@import "mixins";
@import "variables";

.container {
  .row {
    position: relative;

    .picture {
      position: absolute;
      top: 0;
      right: 0;
      width: 450px;
      height: 524px;
      z-index: 1;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      overflow: hidden;

      .picture-wrapper {
        position: relative;
        width: 100%;
        height: 100%;

        img {
          transform: translate(-50%, -50%);
          min-width: 100%;
          min-height: 100%;
          max-width: unset;
          top: 50%;
          left: 50%;
          position: absolute;
        }
      }
    }
  }

  .slick-slider {  
    &.slick-dotted {
      margin-bottom: 0;
    }

    .item-wrapper {
      .text-block {
        width: 500px;
        margin-bottom: 50px;

        .label {
          font-size: 14px;
          font-weight: 500;
          color: $font-gold-light;
          text-transform: uppercase;
          letter-spacing: 1px;
        }

        .subheading {
          margin-top: 20px;
          height: 84px;
          color: $font-gold;
          font-size: 20px;
        }
      }
    }
  }
}

@include bp(xs-sm) {
  .container {
    .row {
      .picture {     
        width: 400px;  
        height: 524px;

        // img {
        //   transform: translate(-50%, -50%);
        //   min-width: 100%;
        //   min-height: 100%;
        //   max-width: unset;
        //   margin-top: 0;
        //   margin-left: 0;
        // }
      }
    }
    // .slick-slider {
    //   .item-wrapper {
    //     .text-block {
    //       width: 300px;
    //     }
    //   }
    // }
  }
}

@include bp(xs) {
 .container {
    .row {
      .picture {    
        width: 300px;
        right: -24px;
      }
    }

    .slick-slider {
      .item-wrapper {
        .text-block {
          width: 450px;     
        }
      }
    }
  }
}

@include bp(xxs) {  
  .container {
    .row {
      .picture {
        display: none;

        img {
          margin-top: 64%;
        }
      }
    }

    .slick-slider {
      .item-wrapper {
        text-align: center;
        padding: 0;
        padding-top: 0;

        .text-block {
          width: 100%;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 100px;
        }
      }
    }
  }
}
