<div class="container">
  <div class="row">
   
    <div class="col-lg-12">
      <!-- <div
        slickContainer
        #slickController="slick"
        id="slick"
        [slickConfig]="config"
        (slickAfterChange)="afterChange($event)"
      >

        <div slickItem>
          <div class="item-wrapper">
            <div class="text-block">
              <p class="label">
                Zabezpečujeme
              </p>
              <h1>Komplexné<br />realizácie</h1>
              <p class="subheading">
                Paragraphs Lorem ipsum dolor sit amet, consectetuer adipiscing
                elit. Donec odio. Consectetuer adipiscing
                elit. Donec odio.
              </p>
            </div>
            <button class="button-global filled">
              Pozrieť realizácie
            </button>
          </div>
        </div>
        <div slickItem>
          <div class="item-wrapper">
            <div class="text-block">
              <p class="label">
                Zabezpečujeme
              </p>
              <h1>Komplexné<br />realizácie</h1>
              <p class="subheading">
                Paragraphs Lorem ipsum dolor sit amet, consectetuer adipiscing
                elit. Donec odio. Consectetuer adipiscing
                elit. Donec odio.
              </p>
            </div>
            <button class="button-global filled">
              Pozrieť realizácie
            </button>
          </div>
        </div>
        <div slickItem>
          <div class="item-wrapper">
            <div class="text-block">
              <p class="label">
                Zabezpečujeme
              </p>
              <h1>Komplexné<br />realizácie</h1>
              <p class="subheading">
                Paragraphs Lorem ipsum dolor sit amet, consectetuer adipiscing
                elit. Donec odio. Consectetuer adipiscing
                elit. Donec odio.
              </p>
            </div>
            <button class="button-global filled">
              Pozrieť realizácie
            </button>
          </div>
        </div>
      </div> -->


     <div *ngIf="isBrowser()">
        <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" (afterChange)="afterChange($event)">
          <div ngxSlickItem class="slide">
            <div class="item-wrapper">
              <div class="text-block">
                <p class="label">
                  Zabezpečujeme
                </p>
                <h1>Komplexné<br />realizácie</h1>
                <p class="subheading">
                  Paragraphs Lorem ipsum dolor sit amet, consectetuer adipiscing
                  elit. Donec odio. Consectetuer adipiscing
                  elit. Donec odio.
                </p>
              </div>
              <button class="button-global filled">
                Pozrieť realizácie
              </button>
            </div>
          </div>
          <div ngxSlickItem class="slide">
            <div class="item-wrapper">
              <div class="text-block">
                <p class="label">
                  Zabezpečujeme
                </p>
                <h1>Komplexné<br />realizácie</h1>
                <p class="subheading">
                  Paragraphs Lorem ipsum dolor sit amet, consectetuer adipiscing
                  elit. Donec odio. Consectetuer adipiscing
                  elit. Donec odio.
                </p>
              </div>
              <button class="button-global filled">
                Pozrieť realizácie
              </button>
            </div>
          </div>
          <div ngxSlickItem class="slide">
            <div class="item-wrapper">
              <div class="text-block">
                <p class="label">
                  Zabezpečujeme
                </p>
                <h1>Komplexné<br />realizácie</h1>
                <p class="subheading">
                  Paragraphs Lorem ipsum dolor sit amet, consectetuer adipiscing
                  elit. Donec odio. Consectetuer adipiscing
                  elit. Donec odio.
                </p>
              </div>
              <button class="button-global filled">
                Pozrieť realizácie
              </button>
            </div>
          </div>
        </ngx-slick>
      </div>
    </div>

    

    <div class="picture">
      <div class="picture-wrapper">
        <img src="../../../assets/images/main-slider/header.jpg" [hidden]="currentSlide != 0" alt="" />
        <img src="../../../assets/images/main-slider/blog1.jpg" [hidden]="currentSlide != 1" alt="" />
        <img src="../../../assets/images/main-slider/blog2.png" [hidden]="currentSlide != 2" alt="" />
      </div>
    </div>
  </div>
</div>
