@import "variables";
@import "mixins";

[class*="col-"] {
  padding-left: 7px;
  padding-right: 7px;

  @include bp(xxs) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.person-card {
  img {
    width: 100%;
  }

  .info {
    padding: 20px;
    background: white;

    .name {
      font-weight: bold;
    }

    .small-border {
      height: 1px;
      margin: 15px 0 15px 0;
      width: 50px;
    }

    .quote {
      margin-bottom: 0;
      height: 72px;
      text-align: justify;
    }
  }
}
