<div class="container">
  <div class="section-heading dark">
    <h2>Náš tím</h2>
    <div class="separator dark">
      <span>
        <fa-icon [icon]="faCircle" size="sm"></fa-icon>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="person-card">
        <img src="../../assets/images/team/majitelka.jpg" alt="" />
        <div class="info shadow-sm">
          <h3 class="name">Mgr. Alena Galová</h3>
          <p class="position">Majiteľka a dizajnérka</p>
          <div class="small-border"></div>
          <p class="quote">„Všetko tvorivé a neštandardné ma baví.“</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="person-card">
        <img src="../../assets/images/team/stanislava.jpg" alt="" />
        <div class="info shadow-sm">
          <h3 class="name">Stanislava Matúšová</h3>
          <p class="position">Administratíva</p>
          <div class="small-border"></div>
          <p class="quote">
            Stanka dáva pozor, aby sa na nič nezabudlo pri procese nákupu a
            predaja.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="person-card">
        <img src="../../assets/images/team/martin.jpg" alt="" />
        <div class="info shadow-sm">
          <h3 class="name">Martin Kysela</h3>
          <p class="position">Realizácia projektov</p>
          <div class="small-border"></div>
          <p class="quote">Martin je „rukami“ nášho štúdia.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-3 mb-4">
      <div class="person-card">
        <img src="../../assets/images/team/vladimir.jpg" alt="" />
        <div class="info shadow-sm">
          <h3 class="name">Vladimír Brun</h3>
          <p class="position">Sklad a logistika</p>
          <div class="small-border"></div>
          <p class="quote">
            Vlado pre Vás pripraví potrebný materiál a namieša tie najkrajšie
            farby.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
