<div class="design-header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <h1>Dizajnový blog</h1>
      </div>
      <div class="col">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="">Domov</a>
          </li>
          <li class="nav-item">
            <a class="nav-link backslash">/</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active">Blog</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="articles-wrapper">
    <div class="row">
      <div class="col-12 col-md-6 pb-5">
        <div class="article-card">
          <!-- <a routerLink="/article/1"> -->
          <a [routerLink]="['/', 'blog', 'article', '1']">
            <div class="img-wrapper">
              <img
                src="../../../assets/images/articles/capageo.jpg"
                alt="https://picsum.photos/350/197"
              />
            </div>
          </a>
          <a class="heading" [routerLink]="['/', 'blog', 'article', '1']">
            <h3>Prečo práve Caparol?</h3>
          </a>
          <div class="date-box">
            <div class="day">21</div>
            <div class="month">Máj</div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="article-card">
          <a [routerLink]="['/', 'blog', 'article', '2']">
            <div class="img-wrapper">
              <img
                src="../../../assets/images/articles/Greenery-kupelna.jpg"
                alt="https://picsum.photos/350/197"
              />
            </div>
          </a>
          <a class="heading" [routerLink]="['/', 'blog', 'article', '2']">
            <h3>Farba roka 2017 podľa Pantone je Greenery</h3>
          </a>
          <div class="date-box">
            <div class="day">22</div>
            <div class="month">Apr</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
