<div class="container">
  <div class="section-heading dark">
    <h2>Referencie</h2>
    <div class="separator dark">
      <span>
        <fa-icon [icon]="faCircle" size="sm"></fa-icon>
      </span>
    </div>
  </div>
  <!-- <div slickContainer id="slick" [slickConfig]="config">
    <div slickItem class="slickItem" *ngFor="let reference of references">
      <app-reference [reference]="reference"></app-reference>
    </div>
  </div> -->

  <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
    <div ngxSlickItem class="slickItem" *ngFor="let reference of references">
      <app-reference [reference]="reference"></app-reference>
    </div>
  </ngx-slick>
</div>
