@import "mixins";
@import "variables";

.article-box {
  position: relative;
  cursor: pointer;

  h4,h5 {
    font-family: $heading-font;
  }

  .date-box {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #a5acbe;

    .day {
      display: inline-block;
      line-height: 1;
      font-size: 36px;
      margin-right: 4px;
    }

    .wrapper {
      display: inline-block;

      .month,
      .year {
        line-height: 1.2;
      }
    }
  }

  &.big {
    .dark-overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 540px;
      width: 100%;
      background: rgb(0, 0, 0);
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5998774509803921) 0%,
        rgba(255, 252, 252, 0) 80%
      );
    }

    .date-box {
      top: 50px;
      left: 50px;
      color: white;

       .day {
        font-size: 42px;
      }
    }

    img {
      width: 100%;
      height: 540px;
      object-fit: cover;
    }

    .text-block {
      position: absolute;
      bottom: 0;
      margin-bottom: 50px;
      left: 0;
      margin-left: 50px;
      color: white;

      h4 {
        color: white;
      }
    }
  }

  &.small {
    &:first-child {
      margin-bottom: 30px;
      background-image: url("../../../assets/images/blog/blog2.png");
    }

    &:nth-child(2) {
      background-image: url("../../../assets/images/blog/blog3.jpg");
    }

    .image-wrapper,
    .card-content {
      display: inline-block;
      vertical-align: middle;
      height: 255px;
      width: 50%;
    }

    .image-wrapper {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .card-content {
      position: relative;
      background: $background-gray;
      padding: 30px;

      .text-block {
        position: absolute;
        bottom: 30px;
        left: 30px;
        right: 30px;

        p {
          margin-bottom: 0;
        }
      }
    }
  }
}

.blog-button-wrapper {
  text-align: center;

  .button-global.filled {
    display: inline-block;
  }
}

@include bp(xs) {  
  .article-box {
    &.big { 
      margin-bottom: 30px;
    }
  }
}

@include bp(xs) {  
  .article-box {
    &.big {
      overflow: hidden;

      img {
        height: 400px;
      }
    }
  }
}

@include bp(xxs) {  
  .article-box {
    &.big {
      .date-box {
        left: 25px;
        top: 25px;
      }

      .text-block {
        margin: 0 25px 25px 25px;
      }
    }

    &.small {
      .image-wrapper,
      .card-content {
        display: block;
        height: 255px;
        width: 100%;
      }

      .card-content {
        height: auto;
        padding: 25px;

        .text-block {
          position: unset;
          margin: 0;
          padding: 36px 0px 0 0;
        }
      }
    }
  }
}