<div class="container">
  <div class="articles-wrapper">
    <div class="row">
      <div class="col-md-12 col-lg-6 col-xl-6">
        <div
          [routerLink]="['/', 'blog', 'article', '1']"
          class="article-box big"
        >
          <div class="dark-overlay"></div>
          <img src="../../../assets/images/blog/blog1.jpg" alt="" />
          <div class="date-box">
            <div class="day">23</div>
            <div class="wrapper">
              <div class="month">aug</div>
              <div class="year">2019</div>
            </div>
          </div>
          <div class="text-block">
            <p>farby</p>
            <h4>Living Coral je farbou roka 2019 podľa spoločnosti Pantone</h4>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 col-xl-6">
        <div
          [routerLink]="['/', 'blog', 'article', '2']"
          class="article-box small"
        >
          <div class="image-wrapper">
          </div>
          <div class="card-content">
            <div class="date-box">
              <div class="day">04</div>
              <div class="wrapper">
                <div class="month">júl</div>
                <div class="year">2019</div>
              </div>
            </div>
            <div class="text-block">
              <p>Svietidlá</p>
              <h5>Ovplyvňuje správny výber svietidiel interiér?</h5>
              <p class="description">
                Lorem Ipsum is simply dummy text of the printing and typesetting
              </p>
            </div>
          </div>
        </div>
        <div
          [routerLink]="['/', 'blog', 'article', '3']"
          class="article-box small"
        >
          <div class="image-wrapper">
          </div>
          <div class="card-content">
            <div class="date-box">
              <div class="day">21</div>
              <div class="wrapper">
                <div class="month">Máj</div>
                <div class="year">2019</div>
              </div>
            </div>
            <div class="text-block">
              <p>Svietidlá</p>
              <h5>Ovplyvňuje správny výber svietidiel interiér?</h5>
              <p class="description">
                Lorem Ipsum is simply dummy text of the printing and typesetting
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="blog-button-wrapper mt-5">
    <a class="button-global filled" [routerLink]="['/', 'blog']">
      Všetky články
    </a>
  </div>
</div>