<div class="container">
  <!-- <div class="section-heading dark">
    <h2>Projekty</h2>
    <div class="separator dark">
      <span>
        <fa-icon [icon]="faCircle" size="sm"></fa-icon>
      </span>
    </div>
  </div> -->
  <div class="buttons">
    <a
      class="button-global link"
      routerLink="/komercne"
      routerLinkActive="active"
    >
      Komerčné priestory
    </a>
    <a
      class="button-global link"
      routerLink="/rezidencne"
      routerLinkActive="active"
    >
      Rezidenčné priestory
    </a>
  </div>
  <div class="projects-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
