@import "mixins";

.buttons {
  text-align: center;

  .button-global {
    display: inline-block;

    &:first-child {
      margin-right: 50px;
    }
  }
}

.projects-wrapper {
  margin-top: 30px;
}


@include bp(xxs) {
  .buttons {
    .button-global {
      &:first-child {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }

    a {
      display: block;
    }    
  }
}

