/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "fonts";
@import "variables";
@import "mixins";

body {
  font-family: $font;
  font-size: 17px;
  font-weight: 400;
  color: $font-color;
}

h1, h2 {
  font-family: $heading-font;
  color: $heading-color;
}

h3, h4 {
  color: $heading-color;
  font-weight: bold;
}

h1 {
  font-size: $h1-size;

  @include bp(xxs) { 
    font-size: ($h1-size - 4px);     
  }
}

h2 {
  font-size: $h2-size;
}

h3 {
  font-size: $h3-size;
}

h4 {
  font-size: $h4-size;
}

h5 {
  font-size: $h5-size;
  font-weight: bold;
}

p {
  &:last-child {
    margin: 0;
  }

  &.sign {
    font-family: $sign-font;
    color: $font-primary;
    font-size: 50px;
    line-height: 1;
    margin: 0;

    @include bp(xs-sm) { 
      font-size: 45px;      
    }

    @include bp(xxs) { 
      font-size: 36px;     
    }
  }
}


img {
  max-width: 100%;
}



.slick-slider {
  &.slick-dotted {
    margin-bottom: 50px;
  }

  .slick-dots {
    bottom: -39px;
    li {
      margin: 0 2px;

      button {
        &:before {
          color: $font-color;
          font-size: 10px;
        }
      }

      &.slick-active button:before {
        color: $font-color;
      }
    }
  } 
}

.button-global {  
  &.link {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: $font-color;
    border-bottom: 2px solid transparent;

    &.active {
      color: $font-gold-light;
      border-color: $font-gold-light;
    }
  }

  &.filled {
    box-shadow: $box-shadow-btn-filled;
    text-decoration: none;
    background: $font-gold-light;
    color: white;
    border: none;
    font-size: 14px;
    border-radius: $border-radius;
    letter-spacing: 1.5px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px 28px;

    &:disabled {
      cursor: not-allowed;
      background: $background-gray;
      color: $font-gray;
    }
  }
}

.design-header {
  padding: 100px 0;
  background-image: url("https://www.studiobyvania-ag.sk/wp-content/uploads/2017/03/Premium-House.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0px;
  background-attachment: fixed;

  h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  .nav {
    float: right;
  }
}

.article-card {
  margin-bottom: 65px;

  .img-wrapper {
    max-width: 100%;
    height: 300px;

    @include bp(xl) {
      height: 253px;
    }

    @include bp(xs-sm) {
      height: 186px;
    }

    img {
      position: relative;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  .heading {
    color: $font-white;
    display: inline-block;

    h3 {
      margin-left: 80px;
      margin-top: 20px;
    }
  }

  .date-box {
    width: 60px;
    position: absolute;
    text-align: center;
    text-shadow: none;
    bottom: 0;
    top: 0;
    margin-top: 296px;

    @include bp(xl) {
      margin-top: 249px;
    }

    @include bp(xs-sm) {
      margin-top: 182px;
    }

    .day {
      font-weight: 600;
      padding-top: 29px;
      padding-bottom: 0px;
      color: $font-white;
      background-color: $primary-yellow;
    }

    .month {
      font-weight: 600;
      letter-spacing: 16px;
      padding: 7px 0 7px 0;
      border-bottom: solid 4px #333;
      text-transform: uppercase;
      border-bottom-color: #ddd;
      color: $font-white;
    }
  }
}

.main-slider-wrapper {
  ul.slick-dots {
    bottom: -119px;
  }
}

.slick-slide:focus {
  outline: none;
}

.slick-track {
  display: flex;
  align-items: center;
}

.design-header {
  margin-bottom: 100px;
  
  h1 {
    color: white;
  }

  li {
    a.nav-link {
      color: white;
      cursor: pointer;

      &.backslash {
        cursor: default;

        &:hover {
          color: white;
        }
      }

      &.active {
        &:hover {
          color: white;
        }
      }
    }
  }
}