<div class="container">
  <div class="contact-section">
    <div class="row">
      <div class="col-md-12 col-lg-4 col-xl-4">
        <div class="address">
          <div class="row align-items-center">
            <div class="col-md-6 col-lg-12 col-xl-12">
              <p>
                <strong>KAPAMAT AG<br />- ambience design, s.r.o.</strong>
              </p>
              <p>Martina Rázusa 7<br />010 01 Žilina<br />Slovenská republika</p>
              <p>
                041/700 21 93<br /><a href="mailto:info@studiobyvania.sk">info@studiobyvania.sk</a>
              </p>
            </div>
            <div class="col-md-6 col-lg-12 col-xl-12">
              <p>
                <small><strong>PONDELOK - PIATOK</strong></small><br />
                07 <small style="vertical-align: text-top;">30</small> - 16
                <small style="vertical-align: text-top;">00</small>
              </p>
              <p>
                <small><strong>UTOROK, STREDA, PIATOK</strong></small><br />
                07 <small style="vertical-align: text-top;">30</small> - 17
                <small style="vertical-align: text-top;">00</small>
              </p>
              <p>
                <small><strong>SOBOTA, NEDEĽA</strong></small><br />
                zatvorené
              </p>
            </div>
          </div>       
        </div>
      </div>
      <div class="col-md-12 col-lg-8 col-xl-8">
        <div class="form-wrapper">
          <h2 class="pb-4">Kontaktný formulár</h2>
          <form class="shadow" (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div id="user-data" ngModelGroup="userData">
              <div class="form-group row">
                <div class="col-12">
                  <label for="inputName">Meno a priezvisko</label>
                  <input
                    type="text"
                    class="form-control"
                    id="inputName"
                    ngModel
                    name="name"
                    required
                    #name="ngModel"
                  />
                  <span class="help-block" *ngIf="!name.valid && name.touched"
                    >Please enter a name!</span
                  >
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-6 form-group">
                  <label for="inputEmail">E-mailová adresa</label>

                  <input
                    type="email"
                    class="form-control"
                    id="inputEmail"
                    ngModel
                    name="email"
                    email
                    required
                    #email="ngModel"
                  />
                  <span class="help-block" *ngIf="!email.valid && email.touched"
                    >Please enter a valid email!</span
                  >
                </div>
                <div class="col-12 col-sm-6 form-group">
                  <label for="inputNumber">Telefonický kontakt</label>

                  <input
                    type="text"
                    class="form-control"
                    id="inputNumber"
                    ngModel
                    name="number"
                    required
                    #number="ngModel"
                  />
                  <span
                    class="help-block"
                    *ngIf="!number.valid && number.touched"
                    >Please enter a number!</span
                  >
                </div>
              </div>

              <div class="form-group row">
                <div class="col-12">
                  <label for="inputText">Napíšte správu</label>

                  <textarea
                    class="form-control"
                    id="InputMessage"
                    rows="5"
                    ngModel
                    name="textarea"
                    required
                    #message="ngModel"
                  ></textarea>
                  <span
                    class="help-block"
                    *ngIf="!message.valid && message.touched"
                    >Please enter a message!</span
                  >
                </div>
              </div>
              <div class="form-group row mt-5">
                <div class="col-12 text-center">
                  <button
                    class="button-global filled light"
                    type="submit"
                    [disabled]="!f.valid"
                  >
                    Odoslať správu
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
