@import "variables";
@import "mixins";

.contact-section {
  .form-wrapper {
    margin-bottom: -152px;
    
    form {
      padding: 40px;
      background: white;
    }
  }

  input,
  textarea {
    border-radius: 5px;

    &.ng-invalid.ng-touched {
      border: 1px solid red;
    }
  }

  .help-block {
    color: #f00;
  }
}


@include bp(xs-sm) {
  .contact-section {
    .form-wrapper {
      margin-bottom: 50px;
    }
    .row.footer {
      margin-top: 100px;

      [class*="col-"] {
        margin-top: 0;
        margin-bottom: 50px;
      }
    }
  }
}

@include bp(xs) {
  .contact-section {
    h2 {
      text-align: center;
    }
  }

  .address {
    text-align: center;
    margin-bottom: 30px;
  }
}

@include bp(xxs) {
  .contact-section {
    .form-wrapper {
      margin-bottom: 0;

      h1 {
        text-align: center;
      }
    }
  }
}