.supplier {
  padding: 0 10px;

  a {
    img {
      max-height: 60px;
      margin: auto;
      opacity: .2;

      &:hover {
        opacity: 1;
      }
    }

    &:visited {
      outline: none;
    }
  }
}
